<!DOCTYPE html>
<html>
  <head>
    <%-include('includes/head') %>
  </head>
  <body>
    <%-include('includes/menu') %>
   <div class="container-fluid bg-3 text center ">
    <h1><%=page %></h1><br>
    <div class="row">
      <div class="col-sm-4">
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis similique reiciendis voluptates laudantium earum, facilis saepe vel repellat placeat quam.
         Neque corporis possimus tempora quia facilis eligendi, reiciendis blanditiis autem?
      </p>
      </div>
      <div class="col-sm-4">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis similique reiciendis voluptates laudantium earum, facilis saepe vel repellat placeat quam.
           Neque corporis possimus tempora quia facilis eligendi, reiciendis blanditiis autem?
        </p>
        </div>
        <div class="col-sm-4">
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis similique reiciendis voluptates laudantium earum, facilis saepe vel repellat placeat quam.
             Neque corporis possimus tempora quia facilis eligendi, reiciendis blanditiis autem?
          </p>
          </div>
    </div>
   </div>
  </body>
</html>
